
<div class="row">
  <div class="col-md-12">
    <h1>Todo App</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 d-flex" >
    <input #newTodo type="text" class="form-control" placeholder="type new todo">
    <button (click)="addTodo(newTodo)"  class="btn btn-primary ml-2">Add</button>
  </div>
</div>
<hr>
<div class="row mt-5" *ngIf="todos.length">
  <div class="col-md-6">
    <table class="table ">
      <tbody>
        <tr *ngFor="let todo of todos; index as i">
          <td [ngClass]="{completed:todo.completed}">{{todo.title}}</td>
          <td></td>
          <td>
            <button class="btn btn-success ml-2 float-right" (click)="completed(i)">Completed</button>
            <button class="btn btn-danger float-right" (click)="removeTodo(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


