
<h1 class="text-center text-primary">Games review From my own Mongo DB & React project</h1>
<p class=text-center>All the data is from my final project in React </p>


<div class="row justify-content-center " *ngIf="list | async as games; else noGames"   >
  <div class="col-md-12 d-flex flex-wrap">
    <div *ngFor="let game of games" class="my-review">
      <img src="{{game.img}}" alt="{{game.title}}">
      <h3>{{game.title}}</h3>
      <h6>By:{{game.author}} ({{game.createdAt | date:short}})</h6>
      <p>{{game.body}}</p>


    </div>
  </div>
</div>



<ng-template #noGames>
  <p>
    loading....
  </p>
</ng-template>
