<h1 class=" text-primary">Very Simple Calculator.....</h1>



<div class="row mt-5">
  <div class="col-md-12 ">

          <div class="value">
              {{firstNum}}  {{operator}}  {{secondNum}}
           </div>


          <div class="result mt-3 mb-3">
              {{result}}
          </div>


      <button class="my-btn" value="1" (click)="add('1')">1</button>
      <button class="my-btn" value="2" (click)="add('2')">2</button>
      <button class="my-btn" value="3" (click)="add('3')">3</button>
      <button class="my-btn" (click)="addOperator('/')">/</button>
      <br>
      <button class="my-btn" value="4" (click)="add('4')">4</button>
      <button class="my-btn" value="5" (click)="add('5')">5</button>
      <button class="my-btn" value="6" (click)="add('6')">6</button>
      <button class="my-btn" (click)="addOperator('*')">*</button>
      <br>
      <button class="my-btn" value="7" (click)="add('7')">7</button>
      <button class="my-btn" value="8" (click)="add('8')">8</button>
      <button class="my-btn" value="9" (click)="add('9')">9</button>
      <button class="my-btn" (click)="addOperator('-')">-</button>
      <br>
      <button class="my-btn" (click)="reset()">AC</button>
      <button class="my-btn" style="width: 200px;"(click)="summary()">=</button>
      <button class="my-btn" (click)="addOperator('+')">+</button>
     </div>













  </div>


