.my-btn{
  width: 100px;
  height: 100px;
  font-size: 50px;

  &:hover{
    background-color: black;
    color: white;
  }
}

.value{
  position: relative;
  width: 400px;
  height: 100px;
  padding: 20px;
  background-color: lightgray;
  border: black solid 2px;
  border-radius: 20px;
  font-size: 50px;

}

.result{
  position: relative;
  width: 400px;
  height: 100px;
  padding: 20px;
  background-color: rgb(216, 128, 128);
  border: black solid 2px;
  border-radius: 20px;
  font-size: 50px;
}

